name: documentation

on:
  push:
    branches: [master]

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.14.2"
      - name: Install dependencies
        run: yarn install --immutable --mode=skip-build
        working-directory: docs

      - name: Build documentation
        run: yarn run build
        working-directory: docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          publish_branch: gh-pages
